/* Global resets and typography */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1, h2 {
  color: #333;
}
main {
  padding: 20px;
}

/* Top navigation bar (responsive)【39†L954-L962】【39†L971-L979】 */
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a.active {
  background-color: #04AA6D; 
  color: white;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Hide the hamburger menu icon by default */
.topnav .icon {
  display: none;
}

/* Gallery layout using flexbox【15†L969-L978】 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gallery figure {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
  box-sizing: border-box;
}
.gallery figure img {
  width: 100%;   /* Image fills the column */
  height: auto;
  display: block;
}
.gallery figcaption {
  text-align: center;
  padding: 5px 0;
  font-style: italic;
}

/* Responsive layout */
/* When screen width < 800px, use 2 columns【15†L989-L1002】 */
@media screen and (max-width: 800px) {
  .gallery figure {flex: 50%; max-width: 50%;}
}
/* When screen width < 600px, stack columns and show menu icon【15†L989-L1002】【39†L1008-L1016】 */
@media screen and (max-width: 600px) {
  .gallery figure {flex: 100%; max-width: 100%;}
  .topnav a:not(:first-child) {display: none;}   /* hide other links */
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* When responsive class is added to nav, make links vertical【39†L1017-L1020】 */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
